include ./includes/header.pug

.container
    h1.page-header FCC - Back End Development Certification
    h2 API project: A set of end points to hade different types of requests

    .container-fluid
        .col-xs-12.col-sm-6
            h3.lead.page-header End Points:
            ul.index
                li Timestamp Microservicea <a href="/timestamp"><i class="glyphicon glyphicon-send"></i>*</a> 
                li Request Header Parser Microservice  <a href="/whoami"><i class="glyphicon glyphicon-send"></i>*</a> 
                li URL Shortener Microservice   <a href="/minifurl"><i class="glyphicon glyphicon-send"></i>*</a> 
                li Image Search Abstraction Layer   <a href="/imagesearch"><i class="glyphicon glyphicon-send"></i>*</a> 
                li File Metadata Microservice   <a href="/getfilesize"><i class="glyphicon glyphicon-send"></i>*</a> 


        .col-xs-12.col-sm-6
            h3.lead.page-header Specifications:
            ul.index
                li Front End:
                    ul
                        li PUG(Jade)
                        li Bootstrap3
                li Back End:
                    ul
                        li NodeJS
                        li Express
                        li Request
                        li Multer
                li Testing:
                    ul
                        li Mocha
                        li Supertest
                li Other
                    ul
                        li MongoDB + mLab
                        li Heroku


    

include ./includes/footer.pug