include ./includes/header.pug

.container.content
    h1.page-header FCC - Back End Development Certification
    .description
        h2 Api Project:
        blockquote 
           p A set of end points to handle different types of requests
           p GitHub repository <a href="https://github.com/yhabib/fcc_api_projects"><i class="fa fa-github" aria-hidden="true"></i></a>

    .container-fluid
        .col-xs-12.col-sm-6
            h3.lead.page-header End Points:
            ul.index
                li: p Timestamp Microservices <a href="/timestamp"><i class="glyphicon glyphicon-send"></i></a> 
                li: p Request Header Parser Microservice  <a href="/whoami"><i class="glyphicon glyphicon-send"></i></a> 
                li: p URL Shortener Microservice   <a href="/minifurl"><i class="glyphicon glyphicon-send"></i></a> 
                li: p Image Search Abstraction Layer   <a href="/imagesearch"><i class="glyphicon glyphicon-send"></i></a> 
                li: p File Metadata Microservice   <a href="/getfilesize"><i class="glyphicon glyphicon-send"></i></a> 


        .col-xs-12.col-sm-6
            h3.lead.page-header Specifications:
            ul.index.tech
                .col-xs-12.col-sm-6
                    li Front End:
                        ul
                            li Pug(Jade)
                            li Bootstrap
                    li Back End:
                        ul
                            li NodeJS
                            li Express
                            li Request
                            li Multer
                .col-xs-12.col-sm-6
                    li Testing:
                        ul
                            li Mocha
                            li Supertest
                    li Other
                        ul
                            li MongoDB + mLab
                            li Heroku


    

include ./includes/footer.pug