include ./includes/header.pug

body
    .container
        h1.page-header API Project: URL Shortener Microservice
        .exercise
            h3 User stories:
            blockquote 
                ol
                    li I can pass a URL as a parameter and I will receive a shortened URL in the JSON response.
                    li When I visit that shortened URL, it will redirect me to my original link.
        .solution.jumbotron
            .container-fluid
                .col-xs-12.col-md-6
                    h3 Example usage:
                    ul
                        li: a(href="./minifurl/new/https://www.google.es", target="_blank")
                            code ./minifurl/new/https://www.google.es
                        br
                        li: a(href="./minifurl/new/1450134000000", target="_blank")
                            code ./minifurl/new/1450134000000

                .col-xs-12.col-md-6
                    h3 Example output:
                    ul: li
                        code
                            |  { 
                            |       "unix": 1450137600,
                            |       "natural": "December 15, 2015" 
                            |  }

include ./includes/footer.pug