include ./includes/header.pug

.container.content
    h1.page-header Request Header Parser Microservice
    .exercise
        h2 User stories:
        blockquote 
            ol
                li I can get the IP address, language and operating system for my browser
    
    .solution.jumbotron
        .container-fluid
            h3.lead Output:
            code
                    |  { 
                    |      "ipAddress": #{ip},
                    |      "language": #{lan},
                    |      "software": #{os} 
                    |  }

include ./includes/footer.pug