include ./includes/header.pug

body
    .container
        h1.header.page-header API Project: Request Header Parser Microservice
        h3 User stories:
        blockquote 
            ol
                li I can get the IP address, language and operating system for my browser
        
        h3 Output:
        code
                |  { 
                |       "ipAddress": #{ip},
                |       "language": #{lan},
                |       "software": #{os} 
                |  }

include ./includes/footer.pug