doctype html
html(lang="en")
    head
        title Microservices Project
        link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet")
        link(href='./styles/main.css', rel='stylesheet')
        
    body
        header.container-fluid.navbar.navbar-default
            .container
                a(href="./").navbar-brand Home
                

        