html, body {
    height: 100%;
    width: 100%;
}
body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    font-size: 62,5%;       /* 1 rem --> 10px */
}

.exercise {
    margin: 6rem 0 6rem;
}
.solution {
    border: 1px solid darkgray;
}
.solution.jumbotron {
    padding-top: 1rem;
}
.solution h3 {
    width: 80%;
    margin-bottom: 2rem;
    border-bottom: 1px solid darkgray;
}

.solution .col-xs-12 {
    margin-bottom: 5rem;
}
.solution .col-xs-12:last-child {
    margin-bottom: 0rem;
}
ul {
    padding-left: 1rem;
}
ul li {
    list-style-type: none;

}
li code {
    padding: 1rem;
}
ul.index li {
    list-style-type: disc;
}

form input[type=file] {
    margin-right: 3rem;
}


footer {
    text-align: center;
}