html, body {
    height: 100%;
    width: 100%;
}
body {
    font-size: 62,5%;       /* 1 rem --> 10px */
}
h3.lead {
    font-size: 2.4rem;
}
header {
    height: 5.2rem;
}
.content {
    height: calc(100% - 5.2rem - 5rem);
}
footer {
    height: 3rem;
}
.navbar-brand {
    color: rgb(51, 122, 183);
}
.exercise {
    margin: 6rem 0 6rem;
}
.solution {
    border: 1px solid darkgray;
}
.solution.jumbotron {
    padding-top: 1rem;
}
.solution h3 {
    width: 80%;
    margin-bottom: 2rem;
    border-bottom: 1px solid darkgray;
}

.solution .col-xs-12 {
    margin-bottom: 5rem;
}
.solution .col-xs-12:last-child {
    margin-bottom: 0rem;
}
ul {
    padding-left: 1rem;
}
ul li {
    list-style-type: none;

}
li code {
    padding: 1rem;
}
ul.index li {
    list-style-type: disc;
    font-size: 1.7rem;
    line-height: 3rem;
}
ul.tech>li {
    margin-top: 1rem;
    margin-bottom: 0;
}
ul.tech>li:first-child {
    margin-top: 0;
}
ul.index li ul li {
    font-size: 1.5rem;
    line-height: 2.5rem;
}

form input[type=file] {
    margin-right: 3rem;
}


footer {
    text-align: center;
}